.page-login {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 30%;
    border-radius: 15px;
    padding: 15px 0;
}

.login form > h2 {
    color: #0093E9;
    font-size: 2em;
}